.events-list {
  position: relative;

  &:before {
    content: '';
    height: 100%;
    width: 2px;
    background-color: $grey_line;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.events-row {
  padding: size(40) 0;

  &:nth-child(even) {
    .events-row__image-wrapper {
      order: 1;

      .event-date {
        left: -51px;
      }
    }

    .events-row__image {
      margin-left: 16%;
    }

    .events-row__info {
      margin-right: 16%;
    }
  }

  &:nth-child(odd) {
    .events-row__image-wrapper {
      .event-date {
        right: -51px;
      }
    }

    .events-row__image {
      text-align: right;
      margin-right: 16%;
    }

    .events-row__info {
      margin-left: 16%;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    height: size(516);

    img {
      height: 100%;
    }
  }

  &__info {
    height: size(316);
    overflow: hidden;
    padding-top: size(100);
  }

  &__desc {
    margin-top: 1em;
    line-height: 1.3;
  }
}

.event-date {
  background-color: $grey_line;
  color: $white;
  height: size(100);
  width: size(100);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  @include radius(50%);

  &__day {
    font-size: size(40);
    display: block;
  }

  &__month {
    font-size: size(20);
    text-transform: lowercase;
  }
}