.event-year {
  h2 {
    text-align: center;
    margin-bottom: .5em;
  }
}

.event-row {
  &:nth-child(even) {
    .cf-philo-row__image-wrapper {
      .cf-philo-row__circle {
        &.event-date {
          left: -46px;
        }
      }
    }
  }

  &:nth-child(odd) {
    .cf-philo-row__image-wrapper {
      .cf-philo-row__circle {
        &.event-date {
          right: -46px;
        }
      }
    }
  }

  &__circle {
    &.cf-philo-row__circle {
      height: size(90);
      width: size(90);
    }
  }

  .event-date {
    span {
      line-height: 1.1;
    }

    &__day {
      font-size: size(40);
      display: block;
    }

    &__month {
      font-size: size(20);
      text-transform: lowercase;
    }
  }

  &__image {
    &.cf-philo-row__image {
      height: size(516);

      img {
        height: 100%;
      }
    }
  }

  &__desc {
    margin-top: 1em;
    line-height: 21px;
    height: 125px;
    overflow: hidden;
    @include animate();
  }

  &__info {
    padding-top: size(100);
  }

  &__links {
    margin-top: 2em;

    ul {
      img {
        height: 46px;
        width: 46px;
      }
    }

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__read-more {
    border: none;
    padding-left: size(54);
    position: relative;
    line-height: size(46);

    .arrow {
      background-color: $grey_arrow;
      position: absolute;
      top: 4px;
      left: 0;

      &__line {
        background-color: $white;
      }
    }
  }
}