@media screen and (max-width: 767px) {

  /*------------ general ------------*/

  .wrapper {
    max-width: 540px;
  }

  h1 {
    font-size: 40px;
  }

  /*------------ banner ------------*/
  .banner {
    &__aside {
      ul {
        margin-top: 3em;
      }

      li {
        margin-right: 10px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  /*------------ contacts ------------*/
  .contacts {
    &__content {
      padding: 0 !important;

      ul {
        margin-left: 0;
        margin-top: 1em;
      }
    }
  }
}