.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 30px 0;

  &__logo {
    img {
      height: 70px
    }
  }

  &__menu {
    font-size: 20px;

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.scrolled {
    position: fixed;
    height: 90px;
    top: -91px;
    padding: 10px 0;
    background-color: $white;

    &.animated {
      @include animate;
    }

    &.active {
      top: 0;
      @include box-shadow-default;
    }
  }
}

.menu-toggle {
  width: 30px;
  height: 26px;
  padding: 0 4px;

  &__line {
    display: block;
    height: 2px;
    width: 22px;
    margin: 5px 0;
    background-color: $black;
    @include animate(all, 0.15s);
  }

  &.active {
    .menu-toggle__line {
      &_top {
        transform: rotate(-45deg);
        margin: 0 0 -2px 0;
      }

      &_middle {
        display: none;
      }

      &_bottom {
        transform: rotate(45deg);
        margin: -2px 0 0 0;
      }
    }
  }
}