body {
  &.no-scroll {
    overflow: hidden;
  }
}

.boby-inner {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1190px;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;

  &.wrapper-container {
    padding: 0 15px;
  }

  &.wrapper-relative {
    position: relative;
  }
}

.to_top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  border: 0;
  padding: .3em;
  border-radius: 3px;
  font-size: 26px;
  i {
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

img {
  max-width: 100%;
  max-height: 100px;
}

button {
  cursor: pointer;
}