body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text-grey;

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin: .3em 0 .7em 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-weight: 100;
  margin-bottom: 5px;
}

.boby-inner {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1190px;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;

  &.wrapper-container {
    padding: 0 15px;
  }

  &.wrapper-relative {
    position: relative;
  }
}

.to_top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  border: 0;
  padding: .3em;
  border-radius: 3px;
  font-size: 26px;

  i {
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}