/*===========================================
   transform
 ===========================================*/

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

.test {
  @include skew(25, 10);
  @include transform-origin(top left);
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20, 20, 20, .5);
}

/*===========================================
   animate
 ===========================================*/

@mixin animate($all:all, $time:0.5s, $effect:ease, $delay:0s) {
  -webkit-transition: $all $time $effect $delay;
  -moz-transition: $all $time $effect $delay;
  -ms-transition: $all $time $effect $delay;
  -o-transition: $all $time $effect $delay;
  transition: $all $time $effect $delay;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation-keyframes($keyframes_name, $fillmode, $delay_kf:0) {
  -webkit-animation: $keyframes_name;
  -moz-animation: $keyframes_name;
  animation: $keyframes_name;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: $fillmode;
  -webkit-animation-delay: $delay_kf;
  -moz-animation-delay: $delay_kf;
  -o-animation-delay: $delay_kf;
  animation-delay: $delay_kf;
}

/*===========================================
   flex
 ===========================================*/

@mixin flex-display {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-justify-content($justify:center) {
  -webkit-box-pack: $justify;
  -webkit-justify-content: $justify;
  -moz-box-pack: $justify;
  -ms-flex-pack: $justify;
  justify-content: $justify;
}

@mixin flex-align-items($align:center) {
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}

@mixin flex-direction($direction:row) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap:wrap) {
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin flex-align-content($align_c:center) {
  -webkit-box-align: $align_c;
  -moz-box-align: $align_c;
  -ms-flex-line-pack: $align_c;
  -webkit-align-content: $align_c;
  align-content: $align_c;
}

@mixin flex-value($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-order($order) {
  -webkit-box-ordinal-group: $order;
  -moz-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

/*===========================================
   other
 ===========================================*/

@mixin boxsizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin zero_m($margin:0px, $padding:0px) {
  margin: $margin;
  padding: $padding;
}

@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin radius($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($opacity) {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=$opacity);
  -moz-opacity: $opacity/100;
  -webkit-opacity: $opacity/100;
  -khtml-opacity: $opacity/100;
  opacity: $opacity/100;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $spread $color;
    -moz-box-shadow: inset $top $left $blur $spread $color;
    box-shadow: inset $top $left $blur $spread $color;
  }

  @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin blur($blur: 3px) {
  -webkit-filter: blur();
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);
}

@mixin background-size ($arguments) {
  background-size: $arguments;
  -webkit-background-size: $arguments;
}

@mixin background-default ($size) {
  background: no-repeat center center;
  @include background-size ($size);
}

@mixin box-shadow-default {
  @include box-shadow(0, 2px, 4px, 0 rgba(0, 0, 0, .123));
}

/*===========================================
   functions
 ===========================================*/

// px to rem func
@function size($px-size, $current-size:16) {
  @return $px-size/$current-size+rem;
}