#admin__layout {
  width: 1000px;
  margin: 0 auto;
}

#admin__navigation {
  margin: 20px 0 20px 0; 
}

nav > li {
  display: inline-block;
}

.event__form {
  display: flex;
  flex-wrap: wrap;
}

.event__form > input {
  width: 100%;
}

.title_form_input {
  font-weight: bolder;
}

#vertical_event_form > * {
  flex-direction: column;
}
