meta name="google-site-verification" content="VSXojJ4i1Fqdzs5KTZzt1OZl-D92m6ifufh8I-CECqA"
meta content="text/html; charset=UTF-8" http-equiv="Content-Type" 
meta name="keywords" content="Cafe Philo Lviv, Lviv Cafe philo, cafephilo,cafephilolviv, Кафе філо Львів, кафе філо львів, кафе філософік львів, cafe philosophique lviv, філософська кав'ярня, філософія львів, львів філософія, ЛНУ філософія, філософський львів" 
meta name="description" content="Філософська кав'ярня Львів | Cafe philosophique Lviv official site. | Cafephilo Lviv | Кафе філо Львів"
